---
import type { Node } from "../node-schema";
import { categoryColors, type Category } from "./categoryColors";
import { socketColors, type SocketType } from "./socketColors";

interface Props {
    data: Node
}

const getSocketDot = (type: SocketType, contextful : boolean) => {
    const color = socketColors[type] ?? "#999";
    return `<div
    style="background: ${color};"
    class="w-2.5 h-2.5 ${contextful ? "rounded-xs" : "rounded-full"} rotate-45"></div>`;
};

const getBooleanDefaultContent = (value: "true" | "false" | any) => {

}

const checkerboard = `background-image:
  linear-gradient(45deg, #444 25%, transparent 25%),
  linear-gradient(-45deg, #444 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #444 75%),
  linear-gradient(-45deg, transparent 75%, #444 75%);
background-size: 16px 16px;
background-position: 0 0, 0 8px, 8px -8px, -8px 0px;`;

const { data } = Astro.props;
---

<div class="bg-[#303030] w-64 border border-[#333] rounded-lg font-sans text-white shadow-[0_0_8px_rgba(0,0,0,0.5)]">
    <div class="px-1 py-2 rounded-t-lg flex justify-between items-center font-bold text-sm"
        style={`background-color: ${categoryColors[data.category] || "#3a3a3a"};`}
    >
        <span>
            <span
                class=`pixi-icon small ${data.icon} align-middle`></span>
            {data.name}
        </span>
    </div>

    <div class="my-2 ml-[-5.5px] mr-[-7.5px]">
        <div>
            {
                data.outputs?.map((output) => (
                    <div class="m-0 h-[32px] flex flex-row items-center justify-between">
                            <div></div>
                            <div class="flex flex-row items-center mt-0">
                                <span class="me-2 text-xs">
                                    {output.name}
                                </span>
                                <div
                                    class="w-3"
                                    set:html={
                                        output.hideSocket
                                            ? ""
                                            : getSocketDot(
                                                  output.type,
                                                  output.isContextful,
                                              )
                                    }
                                />
                            </div>
                    </div>
                ))
            }
        </div>

        <div>
            {
                data.inputs?.map((input) => (
                    <div class="m-0 h-[32px] flex flex-row items-center justify-between">
                            <div class="flex flex-row items-center">
                                <div
                                    class="w-3"
                                    set:html={
                                        input.hideSocket
                                            ? ""
                                            : getSocketDot(
                                                  input.type,
                                                  input.isContextful,
                                              )
                                    }
                                />

                                {input.default && input.type === "Boolean" ? (
                                    <div class="bg-[#1e1e1e] aspect-square h-[22px] rounded-sm inline-block m-0 ms-1 border border-[#3f3f46]">
                                        
                                    </div>
                                ) : null}

                                <span class="ms-1 text-xs">
                                    {input.name}
                                </span>
                            </div>

                            {input.default && input.type !== "Boolean" ? (
                                <div class="bg-[#1e1e1e] text-[#ccc] w-1/2 rounded-sm inline-block px-1.5 py-1 m-0 me-4 text-sm border border-[#3f3f46]">
                                    {input.default}
                                </div>
                            ) : null}
                    </div>
                ))
            }
        </div>
    </div>

    {
        data.hasPreview ? (
            <div class="aspect-square mt-4 rounded"
                style={`${checkerboard}`}
            />
        ) : null
    }
</div>
