---
import { Badge } from "@astrojs/starlight/components";
import AnchorHeading from "@astrojs/starlight/components/AnchorHeading.astro";
import { categoryColors } from "./categoryColors.js";
import Node from "./Node.astro";
import type { Node as NodeType, SocketBase } from "../node-schema.js";

const getPropertyTypeUri = (socket: SocketBase) => {
    if (socket.typeLink) {
        return socket.typeLink;
    }

    if (socket.type === "Default" && socket.displayType) {
        return null;
    }

    return `/docs/usage/node-graph/property-sockets/#-${socket.type.toLowerCase().replace(" ", "-")}`;
}

const data = Astro.props as NodeType;
---

<div
    style={{ display: "flex", alignItems: "center", justifyContent: "center" }}
>
    <Node data={data} />
</div>

<AnchorHeading level="2" id={data.name?.toLowerCase() ?? "node-doc"}>
    {data.name}</AnchorHeading
>

<p>
    <strong>Category</strong>
    <Badge
        style={{
            background: categoryColors[data.category] || "transparent",
            borderWidth: 0,
        }}
        text={data.category || "Misc"}
    />

    <br />

    <strong>Is Pair Node:</strong>
    <Badge
        variant={data.isPair ? "success" : "danger"}
        text={data.isPair ? "Yes" : "No"}
    />

    {
        data.isPair ? (
            <>
                <br />
                <strong>Pair Node:</strong>
                <a href={`/docs/usage/node-graph/nodes/${data.pairNode}`}>
                    {data.pairNode}
                </a>
            </>
        ) : null
    }

    <hr />

    <p>
        {data.description}
        <slot/>
    </p>
</p>

<AnchorHeading id="inputs" level={2}>Inputs</AnchorHeading>
<br/>
{
    data.inputs?.map((input) => (
        <div>
            <AnchorHeading level="3" id={input.name.toLowerCase()}>
                <code>{input.name}</code>
            </AnchorHeading>
            <p>
                <strong>Type:</strong>{" "}
                <a
                    href={getPropertyTypeUri(input)}
                >
                    {input.displayType ?? input.type}
                </a>
                <br />
                <strong>Default:</strong>{" "}
                <code>{input.default ?? `unset`}</code>
                <br />
                {input.min ? (
                    <span>
                        <strong>Min:</strong> <code>{input.min}</code>
                    </span>
                ) : null}
                {input.max ? (
                    <span>
                        <strong>Max:</strong> <code>{input.max}</code>
                    </span>
                ) : null}
            </p>
            <p>{input.description}</p>
        </div>
    ))
}

<AnchorHeading id="outputs" level={2}>Outputs</AnchorHeading>
<br/>
{
    data.outputs?.map((output) => (
        <div>
            <AnchorHeading level="3" id={output.name.toLowerCase()}>
                <code>{output.name}</code>
            </AnchorHeading>
            <p>
                <strong>Type:</strong>{" "}
                <a
                    href={getPropertyTypeUri(output)}
                >
                    {output.displayType ?? output.type}
                </a>
                <br />
                <strong>Default:</strong>{" "}
                <code>{output.default ?? `unset`}</code>
                <br />
                {output.min ? (
                    <span>
                        <strong>Min:</strong> <code>{output.min}</code>
                    </span>
                ) : null}
            </p>
            <p>{output.description}</p>
        </div>
    ))
}

<hr/>